$font_white_color: #ecf0f1
$days_bg: rgba(250, 250, 250, 0.5)
$popup_block_bg: rgba(0, 0, 0, 0.904)
.popup__block
    display: flex
    align-items: center
    justify-content: space-between
    position: absolute
    top: 25px
    right: 0
    background-color: $popup_block_bg
    height: 240px
    width: 580px
    overflow: hidden
    z-index: 10
    p
        color: $font_white_color
.popup__block_close
    width: 25px
    height: 25px
    position: absolute
    top: 0
    right: 0
    background-color: $font_white_color
    background-image: url('../../img/close.png')
    background-position: center
    background-size: 100%
    // border-radius: 50%
    transition: all .2s
    &:hover
        cursor: pointer
        transform: scale(1.2)
        top: 2px
        right: 2px
.map__container
    width: 50%
    padding: 10px
    margin-top: 20px
.citiData__container
    width: 50%
.popup__addInfo
    display: flex
    justify-content: space-between
    padding: 3px 15px
    font-size: .9rem
