$main_white: #f1f2f6
// $card_bg: rgba(52, 73, 94, 0.624)
$card_bg: rgba(9, 133, 227, 0.3)
$arrow_bg: rgba(255, 255, 255, 0.5)
$arrow_bg_hover: rgba(255, 255, 255, 0.75)
.contaner__slider
    width: 100%
    height: calc( 100% - 3rem - 140px )
    display: flex
.subcontainer__slider
    display: flex
    flex-wrap: nowrap
    align-items: center
    align-self: center
    justify-content: space-between
.weather__slider__container
    height: 80%
    width: 1180px
    overflow-x: hidden
    // background-color: #edfcfd
.slider
    width: 2360px
    height: 300px
    display: flex
    transition: transform .4s
.slider__weather__card
    width: 285px
    height: 100%
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-evenly
    background-color: $card_bg
    box-sizing: border-box
    // border: 2px solid $main_white
    border-radius: 6px
    margin: 0 5px
    &:last-of-type
        margin-right: 0
.weather__icon
    position: absolute
    top: 0px
    left: 0px
.slider__arrow
    width: 70px
    height: 45px
    border-radius: 7px
    background-color: $arrow_bg
    background-image: url('../../img/expand-arrow-small2.png')
    background-position: center
    background-repeat: no-repeat
    transition: background .3s
    &:hover
        cursor: pointer
        background-color: $arrow_bg_hover
.slider__arrow_right
    transform: rotate(-90deg)
.slider__arrow_left
    transform: rotate(90deg)
.weather__card_time
    font-size: 2rem
.weather__card_real_temp
    font-size: 1rem
.weather__card_row
    width: 100%
    display: flex
    align-items: center
    justify-content: space-between
.weather__card_sky
    .card__row_second
        text-transform: capitalize
.card__row_first
    width: 50%
    text-align: right
.card__row_second
    width: 50%
    text-align: center

@media screen and ( max-width: 1380px )
    .contaner__slider
        width: 100%
        height: calc( 100% - 3rem - 140px )
    .weather__slider__container
        width: 1065px
    .slider
        height: 300px
    .slider__weather__card
        width: 257px
        border-radius: 5px
        margin: 0 5px
    .slider__arrow
        width: 60px
        height: 40px
    .weather__card_time
        font-size: 2rem
    .weather__card_real_temp
        font-size: 1rem
@media screen and ( max-width: 1281px )
    .contaner__slider
        width: 100%
        height: calc( 100% - 3rem - 140px )
    .weather__slider__container
        width: 890px
    .slider
        width: 2360px
        height: 280px
    .slider__weather__card
        width: 213px
        border-radius: 5px
        margin: 0 5px
    .slider__arrow
        width: 55px
        height: 35px
    .weather__card_time
        font-size: 1.9rem
    .weather__card_real_temp
        font-size: 1rem
@media screen and ( max-width: 1050px )
    .contaner__slider
        width: 100%
        height: calc( 100% - 3rem - 140px )
    .weather__slider__container
        width: 760px
    .slider
        width: 2360px
        height: 260px
    .slider__weather__card
        width: 237px
        border-radius: 5px
        margin: 0 7px
    .slider__arrow
        width: 55px
        height: 35px
    .weather__card_time
        font-size: 1.9rem
    .weather__card_real_temp
        font-size: 1.1rem
    .card__row_first
        font-size: 1.1rem
    .card__row_second
        font-size: 1.1rem
@media screen and ( max-width: 905px )
    .contaner__slider
        width: 100%
        height: calc( 100% - 3rem - 140px )
    .weather__slider__container
        width: 563px
    .slider
        width: 2360px
        height: 280px
    .slider__weather__card
        width: 207px
        border-radius: 5px
        margin: 0 3px
    .slider__arrow
        width: 55px
        height: 35px
    .weather__card_time
        font-size: 1.9rem
    .weather__card_real_temp
        font-size: 1.2rem
    .card__row_first
        font-size: 1.2rem
    .card__row_second
        font-size: 1.2rem
@media screen and ( max-width: 770px )
    .contaner__slider
        height: calc( 100% - 3rem - 200px )
    .weather__slider__container
        width: 563px
    .slider
        width: 2360px
        height: 300px
    .slider__weather__card
        width: 268px
        border-radius: 5px
        margin: 0 6px
    .slider__arrow
        width: 55px
        height: 35px
    .weather__card_time
        font-size: 1.9rem
    .weather__card_real_temp
        font-size: 1.2rem
    .card__row_first
        font-size: 1.2rem
    .card__row_second
        font-size: 1.2rem
@media screen and ( max-width: 690px )
    .contaner__slider
        height: calc( 100% - 3rem - 200px )
    .weather__slider__container
        width: 483px
    .slider
        width: 2360px
        height: 310px
    .slider__weather__card
        width: 234px
        border-radius: 5px
        margin: 0 3px
    .slider__arrow
        width: 55px
        height: 35px
    .weather__card_time
        font-size: 1.9rem
    .weather__card_real_temp
        font-size: 1.2rem
    .card__row_first
        font-size: 1.2rem
    .card__row_second
        font-size: 1.2rem
@media screen and ( max-width: 620px )
    .contaner__slider
        height: calc( 100% - 3rem - 100px )
    .weather__slider__container
        width: 400px
    .slider
        width: 2360px
        height: 270px
    .slider__weather__card
        width: 194px
        margin: 0 3px
    .slider__arrow
        width: 55px
        height: 35px
    .weather__card_time
        font-size: 1.9rem
    .weather__card_real_temp
        font-size: 1.2rem
    .card__row_first
        font-size: 1.2rem
    .card__row_second
        font-size: 1.2rem
@media screen and ( max-width: 525px )
    .contaner__slider
        height: calc( 100% - 3rem - 133px )
    .weather__slider__container
        width: 358px
    .slider
        width: 2360px
        height: 230px
    .slider__weather__card
        width: 173px
        margin: 0 3px
    .slider__arrow
        width: 45px
        height: 25px
        background-size: 60%
        border-radius: 4px
    .weather__card_time
        font-size: 1.78rem
    .weather__card_real_temp
        font-size: 1.2rem
    .card__row_first
        font-size: 1.2rem
    .card__row_second
        font-size: 1.2rem
@media screen and ( max-width: 465px )
    .contaner__slider
        height: calc( 100% - 3rem - 200px )
    .weather__slider__container
        width: 275px
    .slider
        width: 2360px
        height: 280px
    .slider__weather__card
        width: 260px
        margin: 0 5px
    .slider__arrow
        width: 45px
        height: 25px
        background-size: 60%
        border-radius: 4px
    .weather__card_time
        font-size: 1.78rem
    .weather__card_real_temp
        font-size: 1.2rem
    .card__row_first
        font-size: 1.2rem
    .card__row_second
        font-size: 1.2rem
