$main_white: #f1f2f6
// $card_bg: rgba(52, 73, 94, 0.624)
$card_bg: rgba(9, 133, 227, 0.3)
$arrow_bg: rgba(255, 255, 255, 0.5)
$arrow_bg_hover: rgba(255, 255, 255, 0.75)
.container__slider
    width: 100%
    height: calc( 100% - 3rem - 140px )
    display: flex
.test_abs
    position: absolute
    top: 0
    left: 20px
    font-size: 1rem
    color: white
.subcontainer__slider
    display: flex
    flex-wrap: nowrap
    align-items: center
    align-self: center
    justify-content: space-between
.weather__slider__container
    height: 80%
    width: 1325px
    box-sizing: border-box
    overflow-x: hidden
    // background-color: #edfcfd
.slider
    width: 2650px
    height: 300px
    display: flex
    transition: transform .4s
.slider__weather__card
    width: 320px
    height: 100%
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-evenly
    background-color: $card_bg
    box-sizing: border-box
    border-radius: 6px
    margin: 0 5px
    &:last-of-type
        margin-right: 0
.weather__icon
    position: absolute
    top: 0px
    left: 0px
.slider__arrow
    width: 70px
    height: 45px
    border-radius: 7px
    background-color: $arrow_bg
    background-image: url('../../img/expand-arrow-small2.png')
    background-position: center
    background-repeat: no-repeat
    transition: background .3s
    &:hover
        cursor: pointer
        background-color: $arrow_bg_hover
.slider__arrow_right
    transform: rotate(-90deg)
.slider__arrow_left
    transform: rotate(90deg)
.weather__card_time
    font-size: 2rem
.weather__card_real_temp
    font-size: 1rem
.weather__card_row
    width: 100%
    display: flex
    align-items: center
    justify-content: space-between
.weather__card_sky
    .card__row_second
        text-transform: capitalize
.card__row_first
    width: 50%
    text-align: right
.card__row_second
    width: 50%
    text-align: center

@media screen and ( max-width: 1590px )
    .container__slider
        height: calc( 100% - 3rem - 140px )
        justify-content: center
    .weather__slider__container
        width: 1185px
    .slider__weather__card
        width: 285px
    .slider__arrow
        width: 60px
        height: 40px
    .weather__card_time
        font-size: 2rem
    .weather__card_real_temp
        font-size: 1rem
@media screen and ( max-width: 1380px )
    .container__slider
        height: calc( 100% - 3rem - 140px )
    .weather__slider__container
        width: 1065px
    .slider
        height: 300px
    .slider__weather__card
        width: 255px
        border-radius: 5px
        margin: 0 5px
    .slider__arrow
        width: 60px
        height: 40px
    .slider__arrow_left
        margin-left: -2px
    .weather__card_time
        font-size: 2rem
    .weather__card_real_temp
        font-size: 1rem
@media screen and ( max-width: 1281px )
    .container__slider
        width: 100%
        height: calc( 100% - 3rem - 140px )
    .weather__slider__container
        width: 905px
    .slider
        width: 2360px
        height: 280px
    .slider__weather__card
        width: 215px
        border-radius: 5px
        margin: 0 5px
    .slider__arrow
        width: 52px
        height: 33px
    .slider__arrow_left
        margin-left: -2px
    .weather__card_time
        font-size: 1.9rem
    .weather__card_real_temp
        font-size: 1rem
@media screen and ( max-width: 1050px )
    .container__slider
        width: 100%
        height: calc( 100% - 3rem - 140px )
    .weather__slider__container
        width: 755px
    .slider
        width: 2360px
        height: 260px
    .slider__weather__card
        width: 240px
        border-radius: 5px
        margin: 0 5px
    .slider__arrow
        width: 55px
        height: 35px
    .slider__arrow_left
        margin-left: 3px
    .weather__card_time
        font-size: 1.9rem
    .weather__card_real_temp
        font-size: 1.1rem
    .card__row_first
        font-size: 1.1rem
    .card__row_second
        font-size: 1.1rem
@media screen and ( max-width: 905px )
    .container__slider
        width: 100%
        height: calc( 100% - 3rem - 140px )
    .weather__slider__container
        width: 636px
    .slider
        width: 2360px
        height: 280px
    .slider__weather__card
        width: 205px
        border-radius: 5px
        margin: 0 3px
    .slider__arrow
        width: 55px
        height: 35px
    .slider__arrow_left
        margin-left: 2px
    .weather__card_time
        font-size: 1.9rem
    .weather__card_real_temp
        font-size: 1.2rem
    .card__row_first
        font-size: 1.2rem
    .card__row_second
        font-size: 1.2rem
@media screen and ( max-width: 770px )
    .container__slider
        height: calc( 100% - 3rem - 200px )
    .weather__slider__container
        width: 565px
    .slider
        width: 2360px
        height: 300px
    .slider__weather__card
        width: 270px
        border-radius: 5px
        margin: 0 5px
    .slider__arrow
        width: 55px
        height: 35px
    .slider__arrow_left
        margin-left: -2px
    .weather__card_time
        font-size: 1.9rem
    .weather__card_real_temp
        font-size: 1.2rem
    .card__row_first
        font-size: 1.2rem
    .card__row_second
        font-size: 1.2rem
@media screen and ( max-width: 690px )
    .container__slider
        height: calc( 100% - 3rem - 200px )
    .weather__slider__container
        width: 483px
    .slider
        width: 2360px
        height: 310px
    .slider__weather__card
        width: 234px
        border-radius: 5px
        margin: 0 3px
    .slider__arrow
        width: 55px
        height: 35px
    .weather__card_time
        font-size: 1.9rem
    .weather__card_real_temp
        font-size: 1.2rem
    .card__row_first
        font-size: 1.2rem
    .card__row_second
        font-size: 1.2rem
@media screen and ( max-width: 620px )
    .container__slider
        height: calc( 100% - 3rem - 100px )
    .weather__slider__container
        width: 405px
    .slider
        height: 270px
    .slider__weather__card
        width: 196px
        margin: 0 3px
    .slider__arrow
        width: 55px
        height: 35px
    .slider__arrow_left
        margin-left: -5px
    .weather__card_time
        font-size: 1.9rem
    .weather__card_real_temp
        font-size: 1.2rem
    .card__row_first
        font-size: 1.2rem
    .card__row_second
        font-size: 1.2rem
@media screen and ( max-width: 525px )
    .container__slider
        height: calc( 100% - 3rem - 133px )
    .weather__slider__container
        width: 365px
    .subcontainer__slider
        justify-content: flex-start
    .slider
        height: 230px
    .slider__weather__card
        width: 175px
        margin: 0 3px
    .slider__arrow
        width: 45px
        height: 25px
        background-size: 60%
        border-radius: 4px
    .slider__arrow_left
        margin-left: -6px
    .weather__card_time
        font-size: 1.78rem
    .weather__card_real_temp
        font-size: 1.2rem
    .card__row_first
        font-size: 1.2rem
    .card__row_second
        font-size: 1.2rem
@media screen and ( max-width: 465px )
    .container__slider
        height: calc( 100% - 3rem - 200px )
    .weather__slider__container
        width: 275px
    .slider
        height: 280px
    .slider__weather__card
        width: 260px
        margin: 0 5px
    .slider__arrow
        width: 45px
        height: 25px
        background-size: 60%
        border-radius: 4px
    .slider__arrow_left
        margin-left: -2px
    .weather__card_time
        font-size: 1.78rem
    .weather__card_real_temp
        font-size: 1.2rem
    .card__row_first
        font-size: 1.2rem
    .card__row_second
        font-size: 1.2rem
